@using System.Configuration
@using WebLeap
@model dynamic

@{
    ViewBag.Title = "title";
}
@section scripts
{
    <script src="~/Scripts/jquery.signalR-1.0.0-rc2.min.js"></script>
    <script src="~/signalr/hubs"></script>    
}
<!DOCTYPE html>
<!------------------------------------------------------------------------------
| Copyright (C) 2012-2013 Leap Motion, Inc. All rights reserved.               |
| Leap Motion proprietary and confidential. Not for distribution.              |
| Use subject to the terms of the Leap Motion SDK Agreement available at       |
| https://developer.leapmotion.com/sdk_agreement, or another agreement         |
| between Leap Motion and you, your company or other organization.             |
------------------------------------------------------------------------------->
<html>
<head>
    <title>Leap JavaScript API</title>
    <script>
        var leapWs, serverWs, open = false;

        if ((typeof (WebSocket) == 'undefined') &&
            (typeof (MozWebSocket) != 'undefined')) {
            WebSocket = MozWebSocket;
        }

        function init() {
            var serverWs = $.connection.webleap;

            leapWs = new WebSocket("ws://localhost:6437/");
            
            $.connection.hub.start().done(function () {
                document.getElementById("serverConnection").innerHTML = "WebSocket server connection open!";
                open = true;
            });
            
            leapWs.onopen = function (event) {
                document.getElementById("leapConnection").innerHTML = "WebSocket leap connection open!";
            };
            
            serverWs.client.coordinates = function (message) {
                var obj = JSON.parse(message);
                var str = JSON.stringify(obj, undefined, 2);
                document.getElementById("serverOutput").innerHTML = '<pre>' + str + '</pre>';
            };
            
            leapWs.onmessage = function (event) {
                var obj = JSON.parse(event.data);
                var str = JSON.stringify(obj, undefined, 2);
                
                document.getElementById("leapOutput").innerHTML = '<pre>' + str + '</pre>';

                open && serverWs && serverWs.server.coordinates(event.data);
            };

            //serverWs.bind(XSockets.Events.close, function (message) {
            //    serverWs = null;
            //    document.getElementById("serverConnection").innerHTML = "WebSocket server connection closed";
            //});

            leapWs.onclose = function(event) {
                leapWs = null;
                document.getElementById("leapConnection").innerHTML = "WebSocket leap connection closed";
            };

            //serverWs.bind(XSockets.Events.onError, function (error) {
            //    console.log("server error");
            //});
            
            leapWs.onerror = function (event) {
                console.log("leap error");
            };
        }
    </script>
</head>
<body onload="init();">
    <h1>Leap JavaScript/WebSocket Sample</h1>
    <div id="leapConnection">WebSocket leap not connected</div>
    <div id="serverConnection">WebSocket server not connected</div>
    <div style="float: left; width: 300px" >
        <p>Server:</p>
        <div id="serverOutput"></div>
    </div>
    <div style="float: left; width: 300px" >
        <p>Leap:</p>
        <div id="leapOutput"></div>
    </div>
</body>
</html>

